/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
solr_configs/orangelight/data/
solr_configs/orangelight_staging/data/
solr_configs/pulmap/data/
solr_configs/dpul-blacklight/data/
solr_configs/figgy/data/
solr_configs/lae-blacklight/data/
/log/
.DS_Store
/.byebug_history